#grid-parent {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    grid-auto-rows: auto;
}

h1, h2, h3, h4, a {
    font-family: 'Dragon Hunter', 'Garamond', serif;
}

.sub-images-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    text-align: center;
    grid-column: 2/5;
    height: 350px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
}

.sub-images-official-website {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    text-align: center;
    grid-column: 5/8;
    height: 350px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
}

.sub-images-skills h3, .sub-images-official-website h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.2em;

}

.sub-images-official-website a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    display: inline-block;
}

#logo {
    width: 290px;
}

div img {
    object-fit: cover;
    width: 90%;
    height: 265px;
    padding-top: 0px;
}

.button-class:hover, .button-initiations:hover, .button-storytelling:hover, .button-acting-tips:hover, #button:hover, #DND-link:hover {
    transition:color 0.3s ease, background-color 0.3s ease;
    background-color: #DF0000;
    color:black;
    cursor: pointer;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(Images_For_DND_Website/Party.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 2/8;
    grid-row: 2;
    height: 400px;
    padding-left: 30px;

}

.main-content h1 {
    font-size: 50px;
}

.main-content h2 {
    font-size: 25px;
}

.main-content h1, .main-content h2 {
    padding-left: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
}

#DND-link {
    padding-left: 5px;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
}

.button-class, .button-initiations, .button-storytelling, .button-acting-tips {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    height: 80px;
    padding: 0px 20px;
}

.button-class {
    grid-column: 4;
    grid-row: 1;
}

.button-initiations {
    grid-column: 5;
    grid-row: 1;
}

.button-storytelling {
    grid-column: 6;
    grid-row: 1;
}

.button-acting-tips {
    background-color: black;
    color: white;

}

.footer {
    display: flex;
    justify-content: space-around;
    grid-column: 2/-2;
    background-color: #F4F4F4;
    padding: 20px 0;
}

#button {
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 1.5em;
    font-family: 'Dragon Hunter', 'Garamond', serif;
    font-weight: bold;
    display: inline-block;
    padding: 10px 15px;
}

.image {
    object-fit: cover;
}

nav {
    display: flex;
    grid-column: 2/-2;
    grid-row: 1;
    justify-content: space-around;
    align-items: center;
    position: static;
    width: 100%;
}

nav a, .sub-images-skills a {
    text-decoration: none;
    color: black;
}

.sub-images-skills a:hover, .sub-images-official-website a:hover {
    transition: color 0.3s ease;
    color: #DF0000;
    cursor: pointer;
    text-decoration:underline;
}

.main-content-support {
    grid-row: 2;
    grid-column: 2/8;
    font-family: 'Tiamat Condensed SC', 'sans-serif';
    background-color: #DF0000;
    border-radius: 5px;
    padding: 20px;
    /* /// */
}

.main-content-support h1, .main-content-support h2, form {
    text-align: center;
    color: white;
}

.main-content-mail {
    grid-row: 2;
    grid-column: 2/8;
    font-family: 'Tiamat Condensed SC', 'sans-serif';
    background-color: #DF0000;
    border-radius: 5px;
    padding: 20px;
    /* /// */
}

.main-content-mail h1, form {
    text-align: center;
    color: white;
}

textarea {
    font-size: 1rem;
    padding: 10px;
    color: #A0522D;
    background-color: #fafafa;
    border: none;
}

#details {
    display: flex;
    justify-content: space-around;
    padding: 10px;

}

.main-content-about {
    grid-row: 2;
    grid-column: 2/8;
    font-family: 'Tiamat Condensed SC', 'sans-serif';
    background-color: #DF0000;
    border-radius: 5px;
    padding: 20px;
}

.main-content-about h1, .main-content-about h2 {
    text-align: center;
    color: white;
}

.main-content-social {
    grid-row: 2;
    grid-column: 2/8;
    font-family: 'Tiamat Condensed SC', 'sans-serif';
    background-color: #DF0000;
    border-radius: 5px;
    padding: 20px;
}

.main-content-social h1, .main-content-social h2{
    text-align: center;
    color: white;
}

.social-section {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, .5fr));
    grid-template-rows: auto;
}

.social-section img {
    width: 90%;
    height: 90%
}

.main-content-construction {
    grid-row: 2;
    grid-column: 2/8;
    padding: 20px;
    text-align:center;
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.main-content-construction img {
    width: 100%;
    height: auto;
}
.main-content-construction div {
    background-color: #DF0000;
    margin:20px;
    border-radius:5px;
}
.main-content-storytelling {
    grid-row: 2;
    grid-column: 2/8;
    font-family: 'Tiamat Condensed SC', 'sans-serif';
    background-color: #DF0000;
    color:white;
    border-radius: 5px;
    padding: 20px;
}
.main-content-storytelling h1{
    text-align:center;
}

.form-section {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto;
    margin-bottom: 20px;
}

.bug-section {
    align-content: center;
    text-align: center;
}

.bug {
    height: 225px;
    width: 175px;
}

.shield-section {
    align-content: center;
    text-align: center;
}

.shield {
    height: 225px;
    width: 175px;
}

.smile-section {
    align-content: center;
    text-align: center;
}

.smile {
    height: 225px;
    width: 175px;
}

#mySubmit {
    width: 10rem;
    height: 3rem;
    grid-row: 6;
    margin: 10px;
}

#details h4 {
    color: white;
}

@media only screen and (max-width:950px) {
    #grid-parent {
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 130px)) minmax(0px, 1fr);
    }

    .button-class, .button-initiations, .button-storytelling, .button-acting-tips {
        font-size: 1rem;
    }

    #logo {
        width: 270px;
    }

    textarea {
        width: 80%;
    }

}

@media only screen and (max-width:775px) {

    .button-class, .button-initiations, .button-storytelling, .button-acting-tips {
        font-size: 1.2rem;
        width: 90%;
        margin-bottom: 15px;
    }

    #grid-parent {
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 100%)) minmax(0px, 1fr);
    }

    .main-content div h2 {
        font-size: 20px;
    }

    .main-content div h1 {
        font-size: 40px;
    }

    .sub-images-skills h4, .sub-images-official-website h4 {
        font-size: 18px;
    }

    nav {
        flex-flow: column nowrap;
    }

    #details {
        flex-flow: column nowrap;
    }
}

@media only screen and (max-width:700px) {

    .sub-images-skills, .sub-images-official-website {
        grid-column: 2/-2;
        height: 325px;
    }

    div img {
        width: 95%;
        height: 240px;
    }

    .main-content {
        background-image: url(Images_For_DND_Website/party_small.jpg);
    }

    .main-content div h2 {
        font-size: 15px;
    }

    .main-content div h1 {
        font-size: 30px;
    }
    .social-section{
        grid-template-columns:repeat(2, minmax(0, .5fr))
    }

}

@media only screen and (max-width:500px) {
    .main-content {
        background-image: url(Images_For_DND_Website/party_xtrasmall.jpg);
    }
}

@media only screen and (max-width:404px) {
    .footer {
        flex-direction: column;
        text-align: center;

    }

    #button {
        margin: 5px;
    }
    
}