#grid-parent {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    grid-auto-rows: auto;
}

.sub-images-skills{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    grid-column: 2/5;
    grid-row:3;
    height:350px;
}
.sub-images-official-website{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    grid-column: 5/8;
    grid-row:3;
    height:350px;
    margin-top:6px;
}
.sub-images-skills h4, .sub-images-official-website h4{
    margin-top:10px;
    margin-bottom:5px;
    font-size:1.2em;
}
.sub-images-official-website a{
    text-decoration: none;
    background-color:black;
    color:white;
    border-radius:10px;
    font-size:1em;
    display:inline-block;
    padding:10px 20px;
}
div img{
    object-fit:cover;
    width:90%;
    height:265px;
    padding-top:0px;
}
.main-content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-image:url(Images_For_DND_Website/Party.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    grid-column: 2/8;
    grid-row:2;
    height: 400px;
    padding-left:30px;
}
.main-content h1{
    font-size:50px;
}

.main-content h2{
    font-size:25px;
}

.main-content h1, .main-content h2{
    padding-left:5px;
    color:white;
    background-color:rgba(0, 0, 0, 0.5);
    display:inline-block;
}
#DND-link{
    padding-left:5px;
    color:white;
    background-color:black;
    padding:10px;
    border-radius:15px;
    display:inline-block;
}


.logo{
    background-color:#FFFFFF;
    background-image: url(Images_For_DND_Website/Logo.png);
    background-repeat:no-repeat;
    background-size:200px;
    background-position:center;
    display:flex;
    grid-column:span 2/4;
    grid-row:1;
    height:100px;
    
}
.button-class, .button-initiations, .button-storytelling, .button-acting-tips{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:white;
    border-radius:10px;
    height:80px;
}

.button-class{
    grid-column:4;
    grid-row:1;
}
.button-initiations{
    grid-column:5;
    grid-row:1;
}
.button-storytelling{
    grid-column:6;
    grid-row:1;
}
.button-acting-tips{
    background-color:black;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    grid-column:7;
    grid-row:1;
    height:80px;
}

.footer{
    display:flex;
    justify-content: space-around;
    grid-column:2/8;
    grid-row:4;
    height:90px;
}
.footer h2{
    background-color:black;
    color:white;
    display:inline-block;
    padding:10px 15px;
}
