body {
    background: linear-gradient(#EEEEEE, #FFFFFF);
    color:#666666;
    font-family: Verdana, Arial, sans-serif;
    background-attachment:fixed;
    margin:0px;
}

header{
    background-color:#003058;
    color:#FFFFFF;
    grid-row: 1/2;
    grid-column:2/8;
}

header h1 {

    font-family:Georgia, serif;
    background-image:url('images/utahtechlogo.svg');
    background-repeat:no-repeat;
    background-position:right;
    padding-left:1em;
    background-origin:content-box;
    margin:0;

}

#wrapper h1{
    line-height:140%;
    padding: .5rem
}

nav {
    font-weight:bold;
    background-color:#424242;
    position:sticky;
    top:0;
    grid-row:2/3;
    grid-column:2/8;
}

h2 {
    color:#424242;
    font-family: Georgia, serif;
}

dt {
    font-weight:bold;
    color:#003058;
}

.ut {
    color:#BA1C21;
    font-weight:bold;
}

footer {
    font-size:.70rem;
    text-align:center;
    font-style:italic;
    padding:1rem;
    grid-row:5/6;
    grid-column:2/8;
}

#wrapper {
    display:grid;
    grid-auto-rows:minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr)
}

#students{
    width:300px;
}

h3 {
    color:#003058;
}

main {
    grid-column: 2 / 8;
    padding-left:2rem;
    padding-right:2rem;
    background-color:#FFFFFF;
}

#bluebar {
    background-color:#003058;
    grid-row:1/2;
    grid-column:1/9;
}

#greybar {
    background-color:#424242;
    grid-row:2/3;
    grid-column:1/9;
}

#homehero {
    height:300px;
    background-image: url('images/homehero.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    grid-row:3/4;
    grid-column:1/9;
}

#studenthero {
    height:300px;
    background-image: url('images/studenthero.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    grid-row:3/4;
    grid-column:1/9;
}

#facultyhero {
    height:300px;
    background-image: url('images/facultyhero.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    grid-row:3/4;
    grid-column:1/9;
}

#alumnihero {
    height:300px;
    background-image: url('images/alumnihero.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    grid-row:3/4;
    grid-column:1/9;
}

#shophero {
    height:300px;
    background-image: url('images/shophero.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    grid-row:3/4;
    grid-column:1/9;
}

nav a {
    text-decoration:none;
    color:#FFFFFF;
    padding: 1rem 0rem;
    display:block;
    text-align: center;
    transition: background-color 0.5s ease-out;
}

nav a:hover{
    background-color:#BA1C21;
}

*{
    box-sizing:border-box;
}

header a{
    color: white;
    text-decoration:none;
}

main img{
    float:right;
    padding-left: 2rem;
}

nav ul{
    margin:0px;
    padding:0px;
    display:flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

nav ul li{
    width: 100%;
}
#shoppingcart{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
}
#shoppingcart img{
    width:100%;
    height:auto;
}

@media only screen and (max-width:1100px){
    #wrapper {
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 150px)) minmax(0px, 1fr);
    }
}
@media only screen and (max-width:900px){
    nav{
        grid-row: 2/3;
        grid-column: 1/5;
        position:static;
        }
    nav ul{
        flex-flow:column nowrap;
    }
    #homehero, #studenthero, #facultyhero, #alumnihero, #shophero{
        grid-row:2/3;
        grid-column:5/8;
        height:auto;
    }
    #students{
        float:none;
        width:100%;
        height:auto;
        padding-left:0px;
    }
    video{
        float:none;
        margin:0;
        padding-bottom:1rem;
        width:100%;
        height:auto;
    }
    #shoppingcart{
        grid-template-columns:repeat(2, 1fr);
    }
}
@media only screen and (max-width:600px){
    header h1{
        background-image:none;
        text-align:center;
    }
    nav{
        grid-row:2/3;
        grid-column:1/9;
    }
    #homehero, #studenthero, #facultyhero, #alumnihero, #shophero{
        display:none;
    }
    #shoppingcart{
        grid-template-columns:repeat(1, 1fr);
    }
}

form{
    display:grid;
    grid-template-rows:auto;
    grid-template-columns:200px 1fr;
    gap:.75rem;
    width:100%;
}

input, textarea{
    font-size:1rem;
    padding:10px;
    color:#666666;
    background-color:#fafafa;
    border:none;
}

input:focus, textarea:focus{
    outline:none;
    background-color:#f0f0f0;
}

label{
    padding:10px;
    text-align:right;
}

#mySubmit{
    width:10rem;
    grid-column:2/3;
}

table{
    margin:0 auto;
    border-color:#424242;
    border-style:solid;
    border-width:1px;
    border-collapse:collapse;
}
td, th{
    border-color:#424242;
    border-style:solid;
    border-width:1px;
    padding:5px;
}
td{
    text-align:center;
}
.text{
    text-align:left;
}
tr:nth-of-type(n+3):nth-of-type(odd){   
    background-color:#f3f3f3;
}

video{
    float:right;
    margin-left:2em;
}